@media screen and (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
    .swiper-slide img {
        height: 450px;
        object-fit: cover; 
    }
    .swiper-pagination {
        cursor: pointer;
    }
}
.swiper-button-next,
.swiper-button-prev {
    font-size: 10px;
    width: 10px;
    color: black;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}
.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
    color: rgb(19, 16, 16);    
}
.swiper-pagination {
    cursor: pointer;
}